<%- include('../partials/html-head') %>
<link rel="stylesheet" href="..public/stylesheets/style.css"></link>
<%- include('../partials/nav') %>

<section>
<h1>Rate A Book Here!</h1>

<form action="/books" method="POST" class="book-enter">
  <label class="submit-book">
    Enter Book: 
    <input type="text" name="name">
  </label>
  <label>
    Rate Book:
    <input type="number" name="rating" value="5" min="1" max="5" class="submit-rating" >
  </label>
  <button class="rating-button" type="submit">Submit Book Rating</button>
</form>
<h2>All Rated Books</h2>
<ul>
  <% books.forEach(book => { %> 
    <li id="book-list">
      <a href="/books/<%= book._id %>">
        <%= book.name %> 
      </a>
      <%= book.rating %> 
    </li>
    <a href="/books/<%= book._id %>/edit">
      <button class="edit-button">Edit Book Rating</button>
    </a>
    <% if (book.owner.equals(user?.profile._id)) { %> 
    <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Book</button>
    </form>
    <% } %> 
  <% }) %> 
</ul>
</section>

<%- include('../partials/footer') %>



