<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
<h1>Rate A Book Here!</h1>

<form action="/books" method="POST">
  <label>
    Enter Book 
    <input type="text" name="name">
  </label>
  <label>
    Rate Book
    <input type="number" name="rating" value="5" min="1" max="5" >
  </label>
  <button type="submit">Save Book</button>
</form>

<h2>All Rated Books</h2>
<ul>
  <% books.forEach(book => { %> 
    <li>
      <a href="/books/<%= book._id %>">
        <%= book.name %> 
      </a>
      <%= book.rating %> 
    </li>
    <a href="/books/<%= book._id %>/edit">
      <button>Edit Book Rating</button>
    </a>
  <% }) %> 
</ul>
</section>

<%- include('../partials/footer') %>



