<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Your Book Comments!</h1>

<section>
  <h2><%= book.owner.name %>'s Book Comment Post</h2>
  <% book.comments?.forEach(comment => { %>
    <p>
      <%= comment.content %> - <%= comment.commenter.name %>
      <% if (comment.commenter._id.equals(user?.profile._id)) { %>
        <form action="/books/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
        <a href="/books/<%= book._id %>/comments/<%= comment._id %>/edit" class="btn">Update</a>
      <% } %> 
    </p> 
  <% }) %>
  <form action="/books/<%= book._id %>/comments" method="POST">
    <textarea name="content"></textarea><br>
    <button>Add Comment</button>
  </form>

</section>
<%- include('../partials/footer') %>