<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Your Book Comments!</h1>

<section>
  <h2><%= book.owner.name %>'s Book Comment Post</h2>
  <% if (user) { %>
    <h3>Add a comment</h3>
    <form action="/books/<%= book._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button>Add Book Comment</button>
    </form>
  <% } %>

<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Book Comment</button>
</form>

<%- include('../partials/footer') %>